{% extends "base.html" %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-lg rounded-4 border-0">
                <div class="card-body p-5">
                    <h3 class="fw-bold text-center text-primary mb-3">Forgot Password</h3>
                    <p class="text-center text-muted mb-4">Enter your email to receive an OTP.</p>
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                            {{ form.email(class="form-control form-control-lg", placeholder="Enter Email Address") }}
                        </div>
                        <div class="d-grid">
                            {{ form.submit(class="btn btn-primary btn-lg") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}